.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background-color: rgba(31, 29, 29, 0.761)
}

.container input {
  margin-top: 1rem;
  width: 20rem;
  height: 3rem;
  padding: 1%;
  border-radius: 0.5rem;
  border: 0;
}

.container button {
  margin-top: 1.5rem;
  width: 15rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: rgb(91, 218, 66);
  cursor: pointer;
  transition: 0.2s;
}

.container button:hover{
  filter: brightness(0.9);
}
